nav {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
}

.navTitle img {
    width: 60px;
    height: 60px;
    margin-top: 4px;
    border-radius: 50%;
}

.navBtn h2 {
    border-radius: 7px !important;
    padding: 0px 15px;
    cursor: pointer;
}

.navTitle {
    display: flex;
    width: 350px;
    justify-content: space-between;
}

.navTitle h1 {
    font-family: 'Cinzel Decorative', serif;
}

.navBtn {
    display: flex;
    width: 230px;
    justify-content: space-between;
}

.navBtn h2:hover {
    border: 2px solid white;
}

.imageContent {
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap: 50px 100px;
    flex-wrap: wrap;
    margin: 100px 0 50px 0;
}

.imageContent img {
    border-radius: 8px;
}
